.trip {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

.header {
    margin-top: 8px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}

.main {
    flex: 1;
}
