.footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    /* background: red; */
}

.icon:hover path {
    filter: brightness(0.8) sepia(1) hue-rotate(180deg);
}

.asd {
    background-color: blue;
    padding: 17px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.footer__text {
    font-size: 12px;
    line-height: 133%;
    color: #7d848d;
}
