.card {
    border-radius: 16px;
    box-shadow: 0 6px 20px 0 rgba(180, 188, 201, 0.14);
    background: #fff;
    max-width: 100%;
    padding: 12px 10px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-right: auto; */
}

.card__info-title {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    margin-bottom: 2px;
}

.card__info-block {
    display: flex;
    gap: 6px;
}

.card__info-number {
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #1b1e28;
}

.card__info-text {
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #7d848d;
}
